extends layout

block content
	form(method='post', action='/login', enctype='application/x-www-form-urlencoded')
		h3 Accede al Blog
		if invalid
			.error Por favor, introduce un email y password válidos.
		ul
			li
				label(for='email') Email
				input#email(name='email')
			li
				label(for='pass') Password
				input#pass(name='pass')
		input(type='submit', value='Entrar')